<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>体育馆场地预约系统</title>
    <meta name="keywords" content="前端模板">
    <meta name="description" content="前端模板">

    <script th:src="@{/index/js/jquery/jquery-2.1.4.min.js}" type="text/javascript"></script>
    <script th:src="@{/index/layui/layui.js}" type="text/javascript"></script>
    <script th:src="@{/index/js/index/index.js}" type="text/javascript"></script>
    <script th:src="@{/index/js/index/freezeheader.js}" type="text/javascript"></script>
    <script th:src="@{/index/layui/lay/modules/layer.js}" type="text/javascript"></script>
    <script th:src="@{/index/js/index/sliders.js}" type="text/javascript"></script>
    <script th:src="@{/index/js/index/html5.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/index/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/index/layui/css/modules/layer/default/layer.css}"/>
    <link rel="stylesheet" th:href="@{/index/css/global.css}"/>
</head>
<body>

<div th:replace="index/header :: header"  ></div>


<div class="layui-container container" style="padding-top:70px;">

    <div class="main fly-user-main layui-clear">
        <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">

            <li class="layui-nav-item ">
                <a href="toMyInfo">
                    <i class="layui-icon">&#xe612;</i>
                    用户中心
                </a>
            </li>
            <li class="layui-nav-item layui-this">
                <a href="toMyComments">
                    <i class="layui-icon">&#xe620;</i>
                    我的评论
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="toMyRecord">
                    <i class="layui-icon">&#xe611;</i>
                    我的预约
                </a>
            </li>
        </ul>


        <div class="fly-panel fly-panel-user">

            <div class="layui-tab layui-tab-brief" lay-filter="user">
                <ul class="layui-tab-title" id="LAY_mine">
                    <li data-type="mine-jie" lay-id="index" class="layui-this">我的评论</li>
                </ul>
                <div class="layui-tab-content" style="padding: 20px 0;">
                    <div class="layui-tab-item layui-show">
                        <ul class="mine-view jie-row">

                            <li  th:each="data:${pageInfo.list}">
                                <a class="jie-title"  th:text="${data.content}"></a>
                                <i th:text="${data.create_time}"></i>
                                <a class="mine-edit" type="button" th:onclick="del([[${data.id}]])">删除</a>
                            </li>


                        </ul>
                        <div class="layui-row">
                            <div th:replace="common/footer2 :: myfooter2"  ></div>
                        </div>
                    </div>



                </div>
            </div>

        </div>
    </div>
</div>
<div class="footer">
    <p>体育馆场地预约系统</p>
</div>

<script>

    function del(id) {
        if(confirm("确定删除吗?")){
            $.ajax({
                cache:true,
                url:"deleteComments",
                data:{"id": id},
                type:"post",
                async:false,
                success:function (data) {
                    console.log(data)
                    if (data == 'yes') {
                        alert("删除成功！");
                        document.location.reload();//当前页面
                    }else{
                        alert("删除失败！");
                    }
                }
            });
        }
    }
</script>
</body>
</html>